@page "/"
@using ChirpWeb.Pages
@using ChirpWeb
@model ChirpWeb.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    
    int nextPage = Model.currentPage + 1;
    int prevPage = Model.currentPage > 1 ? Model.currentPage - 1 : 1;
}

<div>
    <h2> Public Timeline </h2>

    @await Html.PartialAsync("Shared/_Cheepbox")
    
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.Author.Name?page=1">@cheep.Author.Name</a>
                        </strong>
                        @cheep.Text
                        <small>&mdash; @CheepService.UnixTimeStampToDateTimeString(cheep.TimeStamp)</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    <Button class="btn">
        <a href="?page=@prevPage" class="btn" id="prevBtn" style="color: white;">Previous (@prevPage)</a>
    </Button>
    <button class="btn">
        <a href="?page=@nextPage" class="btn" id="nextBtn" style="color: white;">Next (@nextPage)</a>
    </button>
</div>
