@page "/{name}/"
@using ChirpInfrastructure
@using ChirpWeb
@model ChirpWeb.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("name");
    int nextPage = Model.currentPage + 1;
    int prevPage = Model.currentPage > 1 ? Model.currentPage - 1 : 1;
}

<div>
    <h2> @Model.Author!.Name's Timeline </h2>

    @if (User.Identity!.IsAuthenticated)
    {
        <div class="cheepbox">
            <h3>What's on your mind @(Model.LoggedInAuthor!.Name)?</h3>
            <form method="post">
                <input style="float: left" type="text" asp-for="Text">
                <input type="submit" value="Share">
            </form>
        </div>
    }
    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                ViewData["AuthorName"] = cheep.AuthorName;
                ViewData["CheepText"] = cheep.Text;

                if (cheep.TimeStamp != null)
                {
                    ViewData["Timestamp"] = CheepRepository.UnixTimeStampToDateTimeString((long)cheep.TimeStamp);
                }
                else
                {
                    ViewData["Timestamp"] = "";
                }
                
                if (User.Identity.IsAuthenticated)
                {
                    ViewData["LoggedInUserName"] = Model.LoggedInAuthor!.Name;
                    ViewData["Followed"] = Model.LoggedInAuthor.FollowingList.Contains(cheep.UserId);
                }
                
                <partial name="Shared/_CheepBox"/>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    <div class="pagination-buttons">
        @if (Model.currentPage > 1)
        {
        <Button class="btn">
            <a href="?page=@prevPage" class="btn" id="prevBtn" style="color: white;">Previous (@prevPage)</a>
        </Button>        }
        <Button class="btn">
            <a href="?page=@nextPage" class="btn" id="nextBtn" style="color: white;">Next (@nextPage)</a>
        </Button>
    </div>

</div>