@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Associate your @Model.ProviderDisplayName account.</h2>
<hr />

<p id="external-login-description" class="text-info">
    You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
    Unfortunately, your email or username is already in use, please pick another email and/or username which has not been taken.
    logging in.
</p>
<form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">

<div class="form-floating mb-3">
    <input asp-for="Input.Name" class="form-control" autocomplete="Username" />
    <label asp-for="Input.Name" class="form-label"></label>
    <span asp-validation-for="Input.Name" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
    <input asp-for="Input.Email" class="form-control" autocomplete="email" />
    <label asp-for="Input.Email" class="form-label"></label>
    <span asp-validation-for="Input.Email" class="text-danger"></span>
</div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
